/*******HOMEPAGE******/

.navbar-spacer{
    height: 80px;
}

.homeblocks{
    padding-top:30px;
}

.project-divide{
    border-top: 1.5px solid rgba(0, 0, 0, .9);
    padding-top: 15px;
}

.project-grid{
    display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 15px;
      grid-row-gap: 30px;
      padding: 0px;
}

.project-blocks{

}

.indprojdetails{

}

img.homepageprojectimg{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .9);
}


.viewprojectbutton{
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 5px 10px;
    color: black;
    
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    
}

.viewprojectbutton:hover{
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 5px 10px;
    letter-spacing: 1px;
    background-color: #f05151;
    color: white;
}

.viewprojectbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.viewprojectbutton span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2px;
  transition: 0.5s;
}

.viewprojectbutton:hover span {
  padding-right: 2px;
}

.viewprojectbutton:hover span:after {
  opacity: 1;
  right: 0;
}


.homefooter{
    padding-bottom: 30px;

}


/*some link details*/

a{
    color:black;
}

a:hover{
    color: #f05151;
    text-decoration: none;
}





/*******NEW 2.0TYPEFACES AND FONT ORGANIZATION******/
h2.homepageintro{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    max-width: 75%
}

p.homepageintro{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    max-width: 66%
    
}

h2.homepagelinks{ 
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


h2.projectdivide{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;  
    margin-bottom:-16px;
    max-width: 75%;
}


/*** type for project-ind-blocks**/

h1.projecttitle{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top:10px;
}


h1.projecttitle:hover{
    color: #f05151;
}


h2.projecttags{   
    color: black;
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 3px 8px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0px;
    margin-right: 8px;
    border-radius: 4px;
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    
}

p{
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}



/*Less than max-width*/
@media screen and (max-width:1200px) {  
    body{
        width: 90%;
        
    }

}





/*MOBILE EXPERIENCE*/

@media screen and (max-width:768px) {  

    .homeblocks{

    }

    
    .project-grid{
        display: grid;
      grid-template-columns: auto;
        padding:  0px 0px;
        
    }
    
    
    .project-blockscontainer{

}
    
    h2.homepageintro{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    max-width: 100%
}
    
}

