/*******HOMEPAGE******/

.navbar-spacer{
    height: 50px;
}


.homepage-block{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .9);
}


.imgspacer1{
    padding-right: 10px;
}

.imgspacer2{
    padding-left: 10px;
    
}

@media screen and (max-width:768px) {  

    
    h3.projectheaders{
        display:none;
    }
    
    .desktophomepageprojects{
        display: none;
    }
    
    .addingaline{
        border-bottom: 1px solid rgba(0, 0, 0, .9);
    }
    
    
    .homepage-block{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 30px;

    }
    
    .imgspacer1{
        padding-right: 0px;
    }

    .imgspacer2{
        padding-left: 0px;
        padding-top:15px;
    }
    
    
}



img.homepageprojectimg{
    width: 100%;
}



a.viewproject{
    color: 	black;

}

a.viewproject:hover{
    color: #f05151;
    text-decoration: none;
}







/*******TYPEFACES AND FONT ORGANIZATION******/
.homepage-labels{
    color:#222;
}

h2.homepage-labels{
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-size: 16px;
    
}

h2.introduction{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 32px;
}

h4.project-tag{
    font-family: freight-sans-pro, sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding-top: 5px;
}


h3.project-title{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .9);
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}


h3.home-text{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;   
}



a.intro{
    color: black;
    
}

a.intro:hover{
    color: #f05151;
    text-decoration: none;
}


h3.projectheaders{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 20px;
}



h2.projecttype2{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-right: 40px;
    margin-top:10px;  
    padding-top:15px;
}


h2.projecttype{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 40px;
    margin-top:10px;
}

h2.projecttitle{
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top:10px;
}


h3.archivetext{
   color: black; 
}



.button {
  border: 1px solid rgba(0, 0, 0, .9);
  color: black;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
    border-radius: 25px;
}



.button:hover{
    border: 1px solid black;
    background-color: black;
    border: none;
    text-decoration: none;
    color: white;
}

