/*GENERAL*/

/*HOMEPAGE*/
h6.lefthandlabel{
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#222;
}




/*archive styles*/

.aboutprojectgrid{
    padding-top: 150px;
   
}

.aboutpage{
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    
}



/*******RETRY FHDJSHAFKJLHFKJA ******/


.workprojecttitle{
    border-top: 1px solid rgba(0, 0, 0, .9);
    padding-top: 50px;
    
}


.workprojectaboutblock{
    border-top: 1px solid rgba(0, 0, 0, .9);
    border-bottom: 1px solid rgba(0, 0, 0, .9);
    margin-right: 15px;
}

.workprojectblock{
    padding-left: 40px;
    padding-right: 40px;
    
    
}


.workprojectblock-withbleed{
    
}




.leftlabels{

}


.homepageprojects{
    height: 200px;
}









/*INTRODUCTION*/

.myintroduction{
    padding-top: 5%;
    padding-left: 60px;
    padding-right: 60px;
}


.nicegreeting{
    font-family: freight-neo-pro;
    font-size: 2.4em;
    line-height: 1.7em;
    

}


.introdescription{
    font-family: freight-neo-pro;
    font-size: 1.4em;

    
}


/*WORK STARTS HERE*/

.workstartshere{
    padding-left: 60px;
}


/*.workstartshereheader{
    padding-top: 5%;

}*/


.homepageworkgrid{
    padding-top: 5%;
    padding-left: 60px;
    padding-right: 60px;    
}


.homepageworkgrid-lines{
    padding-left: 60px;
}



.addinglines{
    
}


h6.workheaders{
    font-family: freight-neo-pro;
    font-size: 1.1em;
    font-weight: 400;

    
}


.workheadspacer{
    margin-top: -11px;
}




h5.workheaders{
    font-family: freight-neo-pro;   
    font-weight: 500;
    
}


.needtoinsertaline{
    border-bottom: 1px solid rgba(0, 0, 0, .9);
}


.needtoinsertaline-disappear{
    border-bottom: 1px solid rgba(0, 0, 0, .9);
}

@media screen and (max-width:768px) {  
  .needtoinsertaline-disappear {
    display: none;
  }
}


.themed-grid-col {
  /*border: 1px solid rgba(0, 0, 0, .2);*/
;
    
}

.themed-container {
  border: 1px solid rgba(0, 0, 0, .2);
}


.homepageprojectspacing{
    padding-top:10px;
    padding-bottom: 150px     
}


.homepageproject{
    /*padding-top: 10px;*/
   
}


/*ARCHIVE - LEAD TO ALL PROJECTS*/
.leadtoarchive{
    padding-top: 1%;
    padding-left: 60px;
    padding-right: 60px;
}

h6.archiveleader{
    font-family: freight-neo-pro;
    font-size: 1.4em;
    
}



/*projectnavbars*/
#navbarlinks{
    position: relative;
    left: -30px;
    
}




