/*********NAVIGATION BAR*********/

/*YYK*/
#mylabel{
    padding-left: 25px;
    color: black;
    font-family: freight-neo-pro;
    font-size: 18px;
}

#mylabel a{
    padding-left: 15px;
}




#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height:50px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .9);
    /*overflow: hidden;*/ /*makes the links disappear*/

}


/*replacing the horizontal list with the hamburger menu*/
@media screen and (max-width:768px) {  
    button.openbtn{
    display:block;
    }
    #navbarlinks{
        display:none;
    }
    #mySidepanel{
        display: block;
        color: black;
        font-family: freight-neo-pro;
        font-size: 18px;
    }
    .sidepanel{
        display: block;
        position:absolute;
        left: 100px;
    }
    
    
    .sidepanelnavigations-1{
        position:absolute;
        left: 40px;
        top: 30px;
    }
    
    .sidepanelnavigations-2{
        position:absolute;
        left: 40px;
        top: 70px;
    }
    
        .sidepanelnavigations-3{
        position:absolute;
        left: 40px;
        top: 110px;
    }
    

    
    .closebtn{
        position: absolute;
        right: 40px;
        top: -40px;

    }
}




/* Nav bar styling - hovering and active */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
    padding-top: 15px;
padding-left: 15px;
  text-decoration: none;
}

#navbar a:hover {
    color: 	#f05151;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navbarlinks a{
    float: left;
    font-family: freight-neo-pro;
    
}



#navbar a.icon{
    display: none;
}


/******NAVIGATION BAR - SIDEBAR POP-UP*******/
/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}




/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 3px 10px;
    border: 2px solid white;
    border-radius: 8px;
    float: right;
    display: none;
    position:absolute;
    top:5px;
    right:5px; 
}


/*Hamburger button */
.openbtn:hover {
    color: white;
    background-color: black;
}

button.openbtn{
    float: right;
}




