/*******Work project spacings******/
.navbar-spacer{
    height: 65px;
}

.projblock{
    padding-left: 60px;
    padding-right: 60px;
}


.projblock-content{
    padding-top: 60px;
 
    /*padding-top:45px;
    padding-bottom:30px; *//*could change to 15 and with a top border*/
}




.grid-container {
  display: grid;
  grid-gap: 10px;
    
}

.grid-item {
    
    outline: 15px solid white;
    outline-offset: 0px;
    text-align: left;
    background-color: #5E90EA;
    
    /*padding:30px;
    padding-right:45px;

    margin-bottom: 15px;*/
}

.grid-thirds-container{
    display:grid;
    grid-template-columns: 32% 32% 32% ;
    grid-gap: 2%;
}

.grid-thirds{
    text-align: left;
    /*background-color: #5E90EA;
    background-color: #3877ED;*/
    width: 100%;
    padding:15px;
    border:1px solid rgba(0, 0, 0, .9);
    
}

.block-footer{
    border-top:1.5px solid rgba(0, 0, 0, .9);
}




/*******imgs*****/

.fullwidthimg{
    
    width: 100%;
    /*padding-top:15px;*/
    
    
}




.imgborder{
    outline: 15px solid white;
    outline-offset: 0px;
    margin-top:15px;
}


.img-centertext{
    position:absolute;
    top: 40%;
    left 50%;

    /*padding-left:15%;
    padding-right:15%;*/
}

.howmightwe{
    position:relative;
    text-align:center;
    /*margin-bottom:-16px;/*possible delete*/
}


#affinityimgheight{
 
}


.img-finaldesign{
    position:absolute;
    top: 30%;
    left: 70%;
    /*padding-right:2%;*/
    
}





a{
    /*color:black;*/
}

a:hover{
    color: #f05151;
    text-decoration: none;
}


/*TYPEFACES*/

h1.project-title{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    /*padding-top:10px;*/
}

h2.projecttags{   
    color: black;
    border: 1px solid rgba(0, 0, 0, .9);
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 8px;
    border-radius: 4px;
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}

p.proj-context{
    /*padding-right:10px;*/
}

h2.project-sections{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    /*padding-top:10px;*/
    text-transform: uppercase;
}


p.proj-headers{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    /*padding-top:10px;*/
    text-transform: none;
    
    max-width: 85%;
}


p.proj{

    font-family: roboto, sans-serif;
    font-weight: 300;
    
    max-width: 85%;
}



p.proj-bold{
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    
    max-width: 85%;
}



h2.project-question{
    /*font-family: roboto-mono, monospace;*/
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-left: 12.5%;
    padding-right: 12.5%;
}


p.howdoesitwork{
    padding-top:15px;
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-size: 18px;
    text-align: left;  
}


p.column-header{
    color: black;
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    
    
}

p.column-text{
    color: black;
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-size: 14px;
    text-align:left;
    
}


p.proj-footer{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;  
    padding-top: 15px;
    padding-bottom: 15px;
}

p.nextproject{
    text-align: right;
}




/*MOBILE EXPERIENCE*/

@media screen and (max-width:768px) {  

    .projblock{
    padding-left: 20px;
    padding-right: 20px;
    }

    .project-blockscontainer{

    padding-left: 10px;
    padding-right: 10px;
}
    
    
    .grid-thirds-container{
    display:grid;
        grid-template-columns: none;
}
    
    
    h2.project-question{
    /*font-family: roboto-mono, monospace;*/
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
    
}