/*GENERAL*/


/* first thing that surfaces for a project
title of the project, 
tags, date*/
.titleblock{
    padding-top:50px;
}

.projectimg{
    border-top: 1px solid rgba(0, 0, 0, .9);
}

.projectsectionblock{
    border-bottom: 1px solid rgba(0, 0, 0, .9);
}


.projectworkblock{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.projectworkblock-bleed{

}


.projectworkblock-img{
    padding-left: 20px;
    padding-right: 20px;
}

.projectcontentblock{
    padding-left: 20px;
    padding-right: 20px;
}


.projectcontentblock-img{
    padding-left: 10px;
    padding-right: 10px;
}


/*project title*/
h3.workprojecttype{
    font-family: freight-neo-pro;
}

h1.worktitle{
    font-family: freight-neo-pro;
}


h1.projecttitle{
    font-family: freight-neo-pro;
    font-size: 45px;
}


h3.projecttypes{
    font-family: freight-neo-pro;
    font-size: 18px;

}


/*project details*/
.workprojectblock-details{
    padding-left: 40px;
    margin-bottom: -15px;
}

h2.projectdetails{
    font-family: freight-sans-pro;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
}





img.projectheaderimg{
    width: 100%;
    
}

img.projectcontentimg{
    width:100%;
    margin-bottom: -16px;
}





h3.projectdetails-headers{
    font-family: freight-sans-pro;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
    
}


h3.projectdetails-content{
    font-family: freight-sans-pro;
    font-weight: 400; 
    font-size: 16px;
}


/*project content*/
h2.projectleftlabels{
    font-family: freight-sans-pro;
    font-weight: 600;
    font-size: 16px;
}


h4.projectcontent{
    font-family: freight-neo-pro;
    color: 	#f05151;
    margin-bottom: -8px;
    font-size: 22px;
}


p.projectcontent{
    font-family: freight-sans-pro;

}






/*ARCHIVE CONTENT*/
.archivesections{
    padding-left: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .9);  
    padding-top: 20px;
} 

.archiverowspacing{
    padding-top: -10px;
}






/*archiveEEEEEEE*/

h2.archive-categoriesnames{
    font-family: freight-neo-pro;
    font-size: 18px;
}



.archive-categories{
    border-bottom: 1px solid rgba(0, 0, 0, .9);
}

.archive-projectrows{
    padding-left: 40px;
}

.archive-projectblock{

    
}

.archive-projectblock-spacer{
    padding-bottom: 15px;
}

@media screen and (max-width:768px){
    .archive-projectblock-spacer{
        padding-bottom: 0px;
    }
    
    .archive-projectblock{
        padding-right: 40px;
    }
    
}



.archive-projectblock-img{
   width: 100%; 
}


h2.archive-leftlabels{
    font-family: freight-sans-pro;
    font-weight: 600;
    font-size: 16px;
    
    padding-top: 20px;

}


h3.archive-projectblock-type{
    padding-top: 15px;
    font-family: freight-neo-pro;
    font-size: 18px;
}


h2.archive-projectblock-title{
    font-family: freight-neo-pro;
    font-size: 24px;
    font-weight: 500;
    
}





/*archive buttons*/

#archivecategory {
    z-index: 99;
    font-family: freight-neo-pro;
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    background-color: white;
    margin-left: -6px;
}

#archivecategory:hover {
    color: red;
}




